 <div class="wrapper">
 	<div align="center"> 
		<h2>Codesmith manifesto</h2>

		<p>JTech is het  Java en Open Source huis van Ordina.</p>
		<p>Het is onze missie om kennis te ontwikkelen, vergaren en delen op het gebied van &apos;Java &amp; Open Source&apos;. Dit doen we voor en met de Community, collega&apos;s en onze klant (collega&apos;s).
		De voorhoede wordt gevormd door de Codesmith.</p>
	
		<p>Een Codesmith is een &quot;guru&quot; op zijn of haar expertisegebied en is gericht op innovatie.</p>

		<h2>Principes achter het Codesmith Manifesto</h2>

		<p>Kennis ontwikkel, vergaar en deel je met anderen!</p>
		<p>Niets is belangrijker dan code en kennisdeling!</p>
		<p>De community en klanten kennen ons vanwege en door innovatie!</p>
		<p>Kennis maken en verspreiden we op alle mogelijke manieren.  Online, offline, virtueel!</p>
		<p>JTech = Codesmith = JTech</p>
	</div>
 </div>