 <div class="wrapper">
	<h2>Codesmith manifesto</h2>

	<p>JTech is het  Java en Open Source huis van Ordina.</p>
	<p>Het is onze missie om kennis te ontwikkelen, vergaren en delen op het gebied van &apos;Java &amp; Open Source&apos;. Dit doen we voor en met de Community, collega&apos;s en onze klant (collega&apos;s).
	De voorhoede wordt gevormd door de Codesmith.</p>

	<p>Een Codesmith is een &quot;guru&quot; op zijn of haar expertisegebied en is gericht op innovatie.</p>

	<h2>Principes achter het Codesmith Manifesto</h2>
	<ul>
		<li>Kennis ontwikkel, vergaar en deel je met anderen!</li>
		<li>Niets is belangrijker dan code en kennisdeling!</li>
		<li>De community en klanten kennen ons vanwege en door innovatie!</li>
		<li>Kennis maken en verspreiden we op alle mogelijke manieren.  Online, offline, virtueel!</li>
		<li>JTech = Codesmith = JTech</li>
	</ul>
 </div>