<div class="wrapper">
    <section class="tshirt">
        {% for tshirts in site.data.tshirts %}
        {% assign tshirt = tshirts[1] %}
            <div class="tshirt_member">
                <div class="tshirt_member_image_holder">
                	<a href="{{ tshirt.image }}"><img class="tshirt-image tshirt_member_image" src="{{ tshirt.imagesmall }}"></a>
                </div>
                <h1 class="tshirt_member_side" itemprop="side">{{ tshirt.side }}</h1>
                <span class="tshirt_member_description">{{ tshirt.description }}</span>
            </div>   
        {% endfor %}
    </section>
</div>