<div class="wrapper">
    <section class="tshirt">
		{% for tshirts in site.data.tshirts %}
		{% assign tshirt = tshirts[1] %}
		<div class="tshirt-member">
    		<div class="tshirt-side">
    			<div class="tshirt-image-holder">
    				<a href="{{ tshirt.imagefront }}"><img class="tshirt-image tshirt_member_image" src="{{ tshirt.imagefrontsmall }}"></a>
   				</div>
 				<span class="tshirt-description">Front Side</span>
   				<span class="tshirt-description">{{ tshirt.descriptionfront }}</span>
   			</div>
   			<div class="tshirt-side">
   				<div class="tshirt-image-holder">
   					<a href="{{ tshirt.imageback }}"><img class="tshirt-image tshirt_member_image" src="{{ tshirt.imagebacksmall }}"></a>
 				</div>
 				<span class="tshirt-description">Back Side</span>
 				<span class="tshirt-description">{{ tshirt.descriptionback }}</span>
			 </div>
			 <br />
 			<a href="mailto:secretariaat@ordina.nl?subject=Order%20{{tshirt.name}}&body={{tshirt.emailbody}}">Bestel T-Shirt</a>
 		</div>
    	{% endfor %}
	</section>
</div>