/* ==========================================================================
   T-SHIRT ORDERING PAGE
   ========================================================================== */

.tshirt {
    align-items: flex-start;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.tshirt-member{
	text-align: center;
}

.tshirt-side{
	display: inline-block;
	margin: 15px;
}


.tshirt-image-holder{
	display: inline-block;
}

.tshirt-description{
	display: block;
	text-align: center;	
}

img.tshirt_member_image {
	display:block;
	margin-left: 15px;
	margin-right: 15px;
    max-height: 100%;
    max-width: 100%;
}

img.tshirt-image {
    border: 0.3em solid rgba(208,208,208,0.8);
    border-radius: 1em;
    
    figcaption{
    		
    }
}