/* order shirt page */

.tshirt {
    align-items: flex-start;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.tshirt_member {
    margin: 1em 0;
    max-width: 220px;
    text-align: center;
}

.tshirt_member_side {
    font-size: 0.9em;
    margin-bottom: 0;
}

.tshirt_member_description {
    margin-top: 0.5em;
    font-size: 0.7em;
    display: inline-block;
}

.tshirt_member_image_holder {
    height: 170px;
    width: 220px;
    margin-bottom: 0.5em;
    
    a {
        border:none;
    }
}

img.tshirt_member_image {
    display: block;
    margin: auto;
    max-height: 100%;
    max-width: 100%;
}

img.tshirt-image {
    border: 0.3em solid rgba(208,208,208,0.8);
    border-radius: 999em;
}