---
layout: default
---

<section id="one" class="wrapper spotlight style1">
    <div class="inner">
        <div class="content" style="text-align: left">
            <section class="features">

                {% for post in page.posts reversed %}
                    {% include blog-article.html %}
                {% endfor %}

            </section>
        </div>
    </div>
</section>

{% if page.other_categories != empty %}
    <section id="two" class="wrapper alt style3">
        <div class="inner">
            <div class="content">
                <h2 class="major">Overige categorieën</h2>

                <ul class="list-6 categories">
                    {% for category in page.other_categories %}
                        <li><a href="{{ category.permalink }}">{{ category.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>
{% endif %}