---
layout: default
---

<section id="one" class="wrapper spotlight style1">
    <div class="inner">
        <div class="content" style="text-align: left">
            <section class="features">

                {% for post in page.posts reversed %}
                    {% include blog-article.html %}
                {% endfor %}

            </section>
        </div>
    </div>
</section>

{% if page.other_tags != empty %}
    <section id="two" class="wrapper alt style3">
        <div class="inner">
            <div class="content">
                <h2 class="major">Overige tags</h2>

                {% for tag in page.other_tags %}
                    <a href="{{ tag.permalink }}">{{ tag.title }}</a>
                {% endfor %}
            </div>
        </div>
    </section>
{% endif %}