---
layout: archive
---

<style>
    .quotes {
        padding-top: 30px;
    }

    .quotes .quote {
        position: absolute;
        transition: opacity 1s ease;
        opacity: 0;
        z-index: 1;
        left: 0;
        right: 0;
        margin: 0 auto;
        text-align: center;
        padding-left: 60px;
    }

    .quotes .quote.active {
        opacity: 1;
        z-index: 5;
    }
</style>
<div style="display: flex; flex-direction: row; justify-content: center;">
    <img src="/img/logo-small.jpg" style="height: 100px;">
</div>

<div class="quotes">
    {% for post in paginator.posts %}
    <h2 class="quote">
        <a href="{{ post.url }}">
            {{post.title}}
            <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
        </a>
    </h2>
    {% endfor %}
    <i class="quote active"><h1>Welcome!</h1></i>
</div>


<script>
    setInterval(function () {
        var quotes = document.getElementsByClassName("quote");
        for (var i = 0; i < quotes.length; i++) {
            var quote = quotes[i];
            if (quote.classList.contains("active")) {
                quote.classList.remove("active");
                if (i < quotes.length - 1) {
                    setTimeout(function () {
                        quotes[i + 1].classList.add("active");
                    }, 1000);
                    break;
                } else {
                    setTimeout(function () {
                        quotes[0].classList.add("active");
                    }, 1000);
                    break;
                }
            }
        }
    }, 5000)


</script>

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
